<a href="https://colab.research.google.com/github/y-patankar/data_engineering/blob/main/ModuleAndPackage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import math as m

In [7]:
print(m.sqrt(16))

4.0

In [8]:
import pandas

In [11]:
pandas

data={'name':['John','Alex'], 'Age':[20,30,40]}

---


print(data)

In [17]:
data={'name':['John','Alex'], 'Age':[20,30]}
df=pandas.DataFrame(data)
print(df)

   name  Age
0  John   20
1  Alex   30