<a href="https://colab.research.google.com/github/y-patankar/data_engineering/blob/practice/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Tuple and its baiscs
employee= (1,'Yathartha','LA',9999999999)
print(employee)

(1, 'Yathartha', 'LA', 9999999999)

In [3]:
print(len(employee))

4

In [7]:
#Tuple are immutable and hence can't be changed. We can convert them into list and then do the changes
employee= (1,'Yathartha','LA',9999999999)
new_emp=list(employee)
new_emp[1]='Y Patankar'
employee=tuple(new_emp)
print(employee)

(1, 'Y Patankar', 'LA', 9999999999)